.navbar {
    display: flex;
    color: white;
    background-color: black;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;

    a {
        font-size: 16px;
        text-decoration: none;
        color: inherit;
        padding: 0.5rem;
        font-weight: 600;
    }
}