.conisContainer {
    min-height: calc(100vh - 5rem);
    width: 70%;
    overflow: auto;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0.5rem;
    row-gap: 30px;
    column-gap: 15px;
    margin-bottom: 30px;

    a {
        text-decoration: none;
        color: inherit;
    }

    .conisCardContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        row-gap: 30px;
        column-gap: 15px;

        .coinsCard {
            width: 200px;
            height: 180px;
            background-color: white;
            box-shadow: 0 3px 3px rgba(169, 175, 179, 0.4);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            transition: all 0.3s ease;

            img {
                width: 45px;
                height: 45px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .btnContainer {
        overflow-x: auto;
        display: flex;
        width: 100%;

        .btn {
            padding: 10px;
            background-color: black;
            color: white;
            margin-right: 5px;
            border-radius: 3px;
        }

        &::-webkit-scrollbar {
            height: 5px;
            background-color: gray;
        }


        &::-webkit-scrollbar-thumb {
            background-color: rgb(33, 29, 29);
        }
    }
}